@import url("../fontSizing.css");

displayGrid
{
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-self: center;
    column-gap: 3vw;
    margin: 5vh 5vw;
}

displayItem
{
    --backdrop-color: #43AA8B;
    
    box-sizing: border-box;
    flex: 1 1 auto;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding: 0.25% 0.25%;
    row-gap: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    background-size: cover;
    justify-content: center;
    align-items: center;

    --init-size: calc(0.9rem * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * var(--font-factor) * 0.5), calc(calc(1vw * --init-size) * var(--font-factor) + 0.25rem), calc(var(--init-size) * var(--font-factor) * 2));
}
displayItem > h1, 
displayItem > h2, 
displayItem > h3, 
displayItem > h4, 
displayItem > h5, 
displayItem > h6, 
displayItem > p, 
displayItem > img
{
    margin: 5% 5%;
    flex: 1 1 auto;
}