@import url("./Imports/fontSizing.css");

:root
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: #0D3B66;
    padding: 0;
    margin: 0;
    color: #FCFAFA;
}

nav
{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    justify-items: center;
    padding: min(2vh, 2%) min(5vw, 5%);
    color: #161925;
    background-color: #FCFAFA;

    --init-size: calc(0.9rem * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * var(--font-factor) * 0.5), calc(calc(1vw * --init-size) * var(--font-factor) + 0.25rem), calc(var(--init-size) * var(--font-factor) * 2));
}
nav h1
{
    padding: 0;
    grid-column: 2;
    grid-row: 2;
}
nav #title
{
    --init-size: calc(3em * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * 0.5), calc(2vw * var(--font-factor) + 0.25em), calc(var(--init-size) * 2));
}

.redirect
{
    background-color: #FCFAFA;
    border-radius: 1.5vh;
    padding: 1vh 1vw;
    text-decoration: none;
    color: #161925;

    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.redirect:hover
{
    background-color: #161925;
    color: #FCFAFA;
    text-decoration: underline;
}

article
{
    max-width: 90vw;
    justify-self: center;
    margin: 5vh 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article p
{
    text-indent: 5%;
    margin: 1vh;
}

/*displayGrid
{
    margin: 1vh 0;
}

displayItem
{
    border-radius: 2vh 2vw;
}
displayItem > div > h1, 
displayItem > div > h2, 
displayItem > div > h3, 
displayItem > div > h4, 
displayItem > div > h5, 
displayItem > div > h6,
displayItem > div > p,
displayItem > p, 
displayItem > div > img
{
    border: solid 0.25vh #FFFFFF;
    border-radius: 2vh;
    margin: 1.5% 1.5%;
    padding: 1.5% 1.5%;
    background-color: #161925;
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
}
.eventHolder
{
    display: flex;
    flex-direction: column;
    column-gap: 1vw;

    width: 100%;
}*/

displayGrid
{
    margin: 1vh 0;
    flex-direction: column;
    row-gap: 5vh;
}

displayItem
{
    border-radius: 2vh 2vw;
    flex-direction: row;
    column-gap: 1vw;
    padding: 2% 2%;
}
displayItem > div > h1, 
displayItem > div > h2, 
displayItem > div > h3, 
displayItem > div > h4, 
displayItem > div > h5, 
displayItem > div > h6,
displayItem > div > p,
displayItem > p, 
displayItem > div > img
{
    border: solid 0.25vh #FFFFFF;
    border-radius: 2vh;
    margin: 1.5% 1.5%;
    padding: 1.5% 1.5%;
    background-color: #161925;
    flex: 1 1 auto;
    justify-self: center;
    align-self: center;
    width: 100%;
}
.eventHolder
{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    flex: 1 0 auto;
    width: max-content;
}

@media screen and (max-width: 600px)
{
    .eventHolder
    {
        flex-direction: column;
        row-gap: 1vh;
        flex: 1 0 auto;
        width: max-content;
    }

    displayItem > div > h1, 
    displayItem > div > h2, 
    displayItem > div > h3, 
    displayItem > div > h4, 
    displayItem > div > h5, 
    displayItem > div > h6,
    displayItem > div > p,
    displayItem > p, 
    displayItem > div > img
    {
        width: 100%;
    }

    displayItem
    {
        flex-direction: row;
        column-gap: 1vw;
        padding: 1% 1%;
    }

    displayGrid
    {
        flex-direction: column;
        row-gap: 1vh;
    }
}
