@import url("../Imports/fontSizing.css");

:root
{
    box-sizing: border-box;
    --background: #F7F5F5;
    --mainColor: #7A1F2B;
    --accentColor: #C9A24D;
    --textColor: #1F1F1F;
}

body
{
    margin: 0;
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: var(--background);
    padding: 0;
    margin: 0;
    color: var(--textColor);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

nav
{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    justify-items: center;
    padding: min(2vh, 2%) min(5vw, 5%);
    color: var(--textColor);
    background-color: var(--accentColor);

    --init-size: calc(0.9rem * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * var(--font-factor) * 0.5), calc(calc(1vw * --init-size) * var(--font-factor) + 0.25rem), calc(var(--init-size) * var(--font-factor) * 2));
}
nav h1
{
    padding: 0;
    grid-column: 2;
    grid-row: 2;
}
nav #title
{
    --init-size: calc(3em * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * 0.5), calc(2vw * var(--font-factor) + 0.25em), calc(var(--init-size) * 2));
}

.redirect
{
    background-color: var(--accentColor);
    border-radius: 1.5vh;
    padding: 1vh 1vw;
    text-decoration: none;
    color: var(--textColor);

    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.redirect:hover
{
    background-color: var(--textColor);
    color: var(--background);
    text-decoration: underline;
}

.program
{
    background: var(--mainColor);
    color: var(--textColor);
    padding: 2vh 3vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-items: center;
    align-items: flex-start;
    max-height: fit-content;
    max-width: fit-content;
    justify-content: center;
    justify-self: center;
    margin: 0;

}
.program > p
{
    text-indent: 3vw;
    line-height: 1.8;
    background: none;
}
.program > a
{
    align-self: center;
}

.program, quote
{
    font-weight: 450;
}

#programs > article
{
    background-color: var(--mainColor);
    padding: 2vh 3vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-items: center;
    align-items: flex-start;
    max-height: fit-content;
    max-width: fit-content;
    justify-content: center;
    justify-self: center;

}
#programs > article > p
{
    text-indent: 3vw;
    line-height: 1.8;
}

quote-display
{
    align-self: flex-start;
    flex: 1 1 auto;
}

quote
{
    max-width: max-content;
    grid-column: span 1;
}
quote > *
{
    line-height: 1.8;
}

#mainLayout
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2vh 2vw;
    padding: 2vh 2vw;
    grid-auto-rows: autofit;
    height: auto;
}

#programs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    height: fit-content;
}
#programs > *
{
    flex: 1 1 auto;
}

.overflowGrid
{
    display: grid;
    grid-auto-flow: dense;
    grid-row: 2;
    grid-column: 1 / span 2;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 2vh 2vw;
}
.overflowGrid > quote
{
    max-width: max-content;
}

footer
{
    background-color: var(--textColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 3vw;
}
footer > *
{
    background-color: var(--mainColor);
    padding: 1vh 1vw;
    border-radius: 2vh 2vh;
}

@media screen and (max-width: 600px)
{
    .eventHolder
    {
        flex-direction: column;
        row-gap: 1vh;
        flex: 1 0 auto;
        width: max-content;
    }

    displayItem > div > h1, 
    displayItem > div > h2, 
    displayItem > div > h3, 
    displayItem > div > h4, 
    displayItem > div > h5, 
    displayItem > div > h6,
    displayItem > div > p,
    displayItem > p, 
    displayItem > div > img
    {
        width: 100%;
    }

    displayItem
    {
        flex-direction: row;
        column-gap: 1vw;
        padding: 1% 1%;
    }

    displayGrid
    {
        flex-direction: column;
        row-gap: 1vh;
    }
}
