@import url("../Imports/fontSizing.css");

:root
{
    box-sizing: border-box;
    --blueish: #0D3B66;
    --greenish: #43AA8B;
    --brownish: #847577;
    --blackish: #161925;
    --whiteish: #FCFAFA;
}

body
{
    margin: 0;
    font-family: "Ubuntu Sans Mono", monospace;
    background-color: #0D3B66;
    padding: 0;
    margin: 0;
    color: #FCFAFA;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

nav
{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    justify-items: center;
    padding: min(2vh, 2%) min(5vw, 5%);
    color: #161925;
    background-color: #FCFAFA;

    --init-size: calc(0.9rem * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * var(--font-factor) * 0.5), calc(calc(1vw * --init-size) * var(--font-factor) + 0.25rem), calc(var(--init-size) * var(--font-factor) * 2));
}
nav h1
{
    padding: 0;
    grid-column: 2;
    grid-row: 2;
}
nav #title
{
    --init-size: calc(3em * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * 0.5), calc(2vw * var(--font-factor) + 0.25em), calc(var(--init-size) * 2));
}

.redirect
{
    background-color: #FCFAFA;
    border-radius: 1.5vh;
    padding: 1vh 1vw;
    text-decoration: none;
    color: #161925;

    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.redirect:hover
{
    background-color: #161925;
    color: #FCFAFA;
    text-decoration: underline;
}

article
{
    background: url("Images\\monkey.jpg");
    display: inline-block;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 5vh 5vw;
    padding: 2vh 2vw;
    align-self: center;
}
article > p
{
    background: var(--greenish);
}

.program
{
    background: var(--whiteish);
    color: var(--blackish);
    padding: 2vh 3vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-flow: column;
    justify-items: center;
    align-items: flex-start;
    max-height: fit-content;
    max-width: fit-content;
    justify-content: center;
    justify-self: center;
    margin: 0;

}
.program > p
{
    text-indent: 3vw;
    line-height: 1.8;
    background: none;
}
.program > a
{
    align-self: center;
}

.program, quote
{
    font-weight: 450;
}

quote-display
{
    padding: 0;
}

quote
{
    margin: 0;
}

#mainLayout
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 5vh 5vw;
    column-gap: 3vw;
}

#programs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
}
#programs > *
{
    
    flex: 1 1 auto;
}

footer
{
    background-color: var(--whiteish);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2vh 3vw;
}
footer > *
{
    background-color: var(--blackish);
    padding: 1vh 1vw;
    border-radius: 2vh 2vh;
}

@media screen and (max-width: 600px)
{
    .eventHolder
    {
        flex-direction: column;
        row-gap: 1vh;
        flex: 1 0 auto;
        width: max-content;
    }

    displayItem > div > h1, 
    displayItem > div > h2, 
    displayItem > div > h3, 
    displayItem > div > h4, 
    displayItem > div > h5, 
    displayItem > div > h6,
    displayItem > div > p,
    displayItem > p, 
    displayItem > div > img
    {
        width: 100%;
    }

    displayItem
    {
        flex-direction: row;
        column-gap: 1vw;
        padding: 1% 1%;
    }

    displayGrid
    {
        flex-direction: column;
        row-gap: 1vh;
    }
}
