@import url("../Imports/fontSizing.css");

:root
{
    box-sizing: border-box;
    --blueish: #0D3B66;
    --greenish: #43AA8B;
    --brownish: #847577;
    --blackish: #161925;
    --whiteish: #FCFAFA;
}

body
{
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: #0D3B66;
    padding: 0;
    margin: 0;
    color: #FCFAFA;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

nav
{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    justify-items: center;
    padding: min(2vh, 2%) min(5vw, 5%);
    color: #161925;
    background-color: #FCFAFA;

    --init-size: calc(0.9rem * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * var(--font-factor) * 0.5), calc(calc(1vw * --init-size) * var(--font-factor) + 0.25rem), calc(var(--init-size) * var(--font-factor) * 2));
}
nav h1
{
    padding: 0;
    grid-column: 2;
    grid-row: 2;
}
nav #title
{
    --init-size: calc(3em * var(--font-factor));
    font-size: clamp(calc(var(--init-size) * 0.5), calc(2vw * var(--font-factor) + 0.25em), calc(var(--init-size) * 2));
}

.redirect
{
    background-color: #FCFAFA;
    border-radius: 1.5vh;
    padding: 1vh 1vw;
    text-decoration: none;
    color: #161925;

    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
.redirect:hover
{
    background-color: #161925;
    color: #FCFAFA;
    text-decoration: underline;
}

#search
{
    padding: 2vh 2vw;
    background-color: var(--whiteish);
    color: var(--blackish);
    filter: none;
    transition: filter 0.25s;
}
#search:focus
{
    filter: invert(76%);
}

#resources
{
    margin: 5vh 2vw;
    display: grid;
    row-gap: 1vh;
    column-gap: 1vw;

    @media screen and (max-width: 600px)
    {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 601px) and (max-width: 1023px)
    {   
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: 1024px)
    {
        grid-template-columns: repeat(5, 1fr);
    }
    grid-auto-flow: dense;
}
#resources > *
{
    padding: 2vh 2vw;
    background-color: var(--whiteish);
    color: var(--blackish);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#resources > *.hidden
{
    visibility: hidden;
    order: 1;
}

#filters
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-end;
    width: max-content;

    background-color: var(--whiteish);
    color: var(--blackish);
    padding: 2vh 2vw;
}
#filters > *
{
    height: auto;
    width: auto;

    transition: height 0.5s, width 0.5s, order 0.5s;
}
#filters > #applyButton
{
    max-width: fit-content;
    align-self: center;
    border-radius: 1.5vh;
    padding: 0.5vh 0.5vw;
    background-color: var(--blackish);
    color: var(--whiteish);

    transition: background-color 0.2s;
}
#filters > #applyButton:hover
{
    background-color: var(--greenish);
}
#filters > #openClose
{
    position: absolute;
    left: 0;
    bottom: 0;
    right: unset;
    top: unset;

    max-width: fit-content;
    align-self: center;
    padding: 0.5vh 0.5vw;
    background-color: var(--blackish);
    color: var(--whiteish);

    transition: background-color 0.2s, left, bottom, right, top;
}
#filters > #openClose:hover
{
    background-color: var(--greenish);
}
#filters > #openClose.closed
{
    left: unset;
    bottom: unset;
    right: 0;
    top: 0;
}
#filters.closed
{
    animation-name: closeFilterMenu;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
#filters > *.hidden
{
    order: 1;
    height: 0;
    width: 0;
    visibility: hidden;
}

.filterContainer
{
    display: flex;
    justify-content: center;
    align-content: center;
}

@keyframes closeFilterMenu
{
    0%
    {
        height: auto;
        width: max-content;
        padding: 2vh 2vw;
    }
    100%
    {
        height: min-content;
        width: min-content;
        padding: 0;
    }
}
