:root
{
    box-sizing: border-box;
    --blueish: #0D3B66;
    --greenish: #43AA8B;
    --brownish: #847577;
    --blackish: #161925;
    --whiteish: #FCFAFA;
}

body
{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #0D3B66;
}

quote-display
{
    --max-width: 50vw;

    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1.5vw;
    row-gap: 3vh;
    max-width: var(--max-width);
    justify-content: center;
    align-items: center;
}

quote
{  
    color: var(--blackish);
    display: flex;
    box-shadow: 0.5vw 0.5vw #161925;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    background-color: #FCFAFA;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
    justify-content: center;
    max-width: fit-content;
}
quote >*
{
    display: inline;
    padding: 0;
    margin: 0;
}
